
@default: ~"only screen";
@small-desktop: ~"only screen and (max-width: 1100px)";
@tablet: ~"only screen and (max-width: 960px)";
@phone: ~"only screen and (max-width: 720px)";

@head-color: #607d8b;

@media @default {

}

@media @tablet {

}

@media @phone {

}

::selection {
  background-color: #ccc
}

html {
  height: 100%;
}
